.section {
    position: relative;
    padding: 100px 0;
}

.titleContainer {
    width: calc(60px + 80vw);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: calc(80vw + 60px);
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.block1 {
    flex-basis: 16.67%;
    max-width: 16.67%;
    padding: 0 30px;
}

.block2 {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0 30px;
}

.counter {
    position: absolute;
    color: rgb(232, 227, 218);
    font-size: 160px;
    line-height: 160px;
    top: 30px;
    left: -30px;
}

.title {
    width: 100%;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 80px;
    text-align: center;
}

.applicationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #fff;
    margin: 80px auto 0;
    min-width: 29.5rem;
    position: relative;
    cursor: pointer;
    background: rgb(0, 0, 0);
    text-decoration: none;
    padding: 18px 10px;
    border: none;

    &:hover {
        background-color: #a49d8f;
    }
}

.buttonIcon {
    flex-shrink: 0;
}

.thumbContainer {
    position: relative;
    width: 100%;
    background-color: #969698;
    height: calc(13.3333vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    z-index: 1;
}

.playButton {
    cursor: pointer;
    background: none;
    border-style: none;
    padding: 0;
    z-index: 10000;
}

.buttonWrapper {
    width: 16.6rem;
    font-size: 20px;
    line-height: 28px;
    background: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(232, 227, 218);
    padding: 22px 0 40px;
    text-align: right;
    z-index: 2;
    position: relative;
    margin-top: -48px;
}

/* Первая кнопка - слева */
.block2:nth-child(3) .buttonWrapper {
    float: left;
    text-align: left;
}

/* Вторая кнопка - справа */
.block2:nth-child(4) .buttonWrapper {
    float: right;
    text-align: right;
}