.agreement {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1001;
    overflow-y: auto;
}

.agreement.open {
    transform: translateX(0);
}

.container {
    width: calc(60px + 80vw);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    flex: 0 1 auto;
    padding: 100px 0;
}

.emptyBlock {
    flex-basis: 16.67%;
    max-width: 16.67%;
}

.block {
    flex-basis: 66.67%;
    max-width: 66.67%;
    padding: 0 30px;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 64px;
}

.title {
    font-size: 32px;
    line-height: 36px;
    flex: 1;
    margin-right: 30px;
}

.description {
    line-height: 1.6;
    font-size: 16px;
}