.container {
    width: calc(60px + 80vw);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 40px;
}

.block {
    flex-basis: 66.67%;
    max-width: 66.67%;
    padding: 0 30px;
}

.blockEmpty {
    flex-basis: 16.67%;
    max-width: 16.67%;
    padding: 0 30px;
}

.title {
    margin: 64px 0;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

.description {
    font-size: 20px;
    line-height: 1.6;
    max-width: 90%;

}

.list {
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    margin-top: 30px;

    & p {
        font-size: 20px;
        margin: 0 0 20px 30px;
        max-width: 300px;
    }
}

.image {
    max-width: 49.5%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}


.formButton {
    position: relative;
    font-family: Prata, serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
    background: none;
    border-style: none none solid;
    border-bottom: 1px solid transparent;
    transition: 0.3s;

    &:after {
        position: absolute;
        content: '';
        bottom: -2px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000;
    }
}
