.header {
    height: 22vh;
    align-items: center;
    background: rgb(255, 255, 255);
    width: calc(60px + 80vw);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;

    @media (max-width: 1024px) {
        height: 22vh;
        background: #fff;
        align-items: center;
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
        justify-content: center;
    }

    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
        height: 15vh;
    }
}

.contacts {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding-left: 30px;
    padding-right: 30px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.socials {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding-left: 30px;
    padding-right: 30px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.logoContainer {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;

    @media (max-width: 1023px) {
        flex-basis: 50%;
        max-width: 50%;
        margin-bottom: 0;
    }

    @media (max-width: 767px) {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.logo {
    height: 48px;

    @media (max-width: 767px) {
        height: 40px;
    }
}

.span2:last-child .heading1,
.span2:last-child .heading2 {
    text-align: right;
}

.languageSelect {
    padding-top: 2px;
}

.heading1 {
    font-size: 20px;
    line-height: 24px;
}

.heading2 {
    font-size: 13px;
    line-height: 22px;
}

.socials .heading1,
.socials .heading2 {
    text-align: right;
}

.callback {
    cursor: pointer;
    padding: 0;
    border-style: none none solid;
    border-image: initial;
    background: none;
    border-bottom: 1px solid rgb(232, 227, 218);
    font-size: 13px;

    &:hover {
        color: rgb(164, 157, 143);
    }
}

.containerBanner {
    height: 56vh;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;

    @media (max-width: 1023px) {
        height: 45.6vh;
        padding-top: 32px;
        background-position: 35% 50%;
        background-size: cover;
    }
}

.containerBanner .banner {
    height: 100%;
}

.banner {
    width: 90%;
    margin: 0 auto;
    display: flex;

    @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
        height: 100%;
    }
}

.heroDescription {
    display: flex;
    flex-direction: column;
    padding: 48px 0 32px;
    width: 66.66%;

    @media (max-width: 1023px) {
        width: 100%;
        padding: 0;
        margin-top: auto;
        text-align: left;
        justify-content: flex-start;
    }
}

.title {
    font-size: 60px;
    line-height: 70px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 400;

    & span {
        color: #000;
    }

    @media (max-width: 1279px) {
        font-size: 50px;
    }

    @media (max-width: 1023px) {
        font-size: 26px;
        line-height: 32px;
        margin-top: 0;
    }
}

.description {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 22px;
    margin-top: auto;

    &:before {
        position: absolute;
        content: '';
        width: 48px;
        height: 2px;
        left: 0;
        top: -24px;
        background: rgb(248, 248, 248);
    }

    @media (max-width: 1023px) {
        display: none;
    }
}

.counter {
    font-size: 240px;
    color: rgb(255, 255, 255);
    display: inline-block;
    line-height: 240px;
    position: absolute;
    right: -128px;
    top: 50px;
    text-align: right;

    @media (max-width: 1023px) {
        display: none;
    }
}

.videoContainer {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    overflow: visible;

    @media (max-width: 1023px) {
        flex-basis: 50%;
        max-width: 50%;
        width: 100%;
        padding: 0;
        align-self: flex-start;
    }
}

.videoThumb {
    background-color: #fff;

    @media (max-width: 1023px) {
        width: 100%;
        margin: 0;
        height: auto;
    }
}

.video {
    position: relative;
    height: calc(13.33vw);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1023px) {
        height: 106px;
    }
}

.videoButton {
    cursor: pointer;
    width: 68px;
    height: 50px;
    border-radius: 10px;
}

.videoDescription {
    position: relative;
    padding: 33px 42px;

    @media (max-width: 1023px) {
        padding: 3px 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 66px;
        background-color: #fff;
        z-index: 10;

        &:before {
            position: absolute;
            content: '';
            display: block;
            background: #fff;
            left: -32px;
            top: 0;
            bottom: 0;
            width: 32px;
            height: 130px;
        }
    }
}

.videoTitle {
    font-size: 20px;
    line-height: 28px;

    @media (max-width: 1023px) {
        font-size: 12px;
        line-height: 18px;

    }
}

.playButton {
    font-size: 13px;
    line-height: 20px;
    background: none;
    padding: 10px 0 0 0;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid rgb(232, 227, 218);

    &:hover {
        color: rgb(164, 157, 143);
    }

    @media (max-width: 1023px) {
        display: none;
    }
}

.containerFooter {
    display: flex;
    height: 22vh;
    align-items: center;
    width: calc(60px + 80vw);
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;

    @media (max-width: 1023px) {
        font-size: 12px;
        line-height: 18px;
        padding: 16px 32px 0 32px;
        width: 100%;
        height: fit-content;
    }
}

.footerDescription {
    display: none;

    @media (max-width: 1023px) {
        display: block;
        margin-bottom: 24px;
        font-size: 12px;
        margin-right: auto;
    }
}

.slider {
    margin-top: -120px;
    height: 100%;

    @media (max-width: 1023px) {
        display: none;
    }
}

.swiperSlide {
    text-align: center;
}

.slideImage {
    border: 20px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    background: #fff;
}

.buttonIcon {
    margin-right: 10px;
    vertical-align: middle;
}

.application,
.slider,
.programs {
    flex-basis: 33.33%;
    max-width: 33.33%;

    @media (max-width: 1023px) {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
    }
}

.application,
.programs {
    padding: 0 30px;

    @media (max-width: 1023px) {
        padding: 0;
    }
}

.applicationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    cursor: pointer;
    background: rgb(0, 0, 0);
    text-decoration: none;
    padding: 16px 24px;
    border: none;

    @media (max-width: 1023px) {
        width: 100%;
        margin-bottom: 10px;
    }
}

.buttonIcon {
    flex-shrink: 0;
}

.programsLink {
    display: block;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    position: relative;
    cursor: pointer;
    background: rgb(232, 227, 218);
    text-decoration: none;
    padding: 16px 0;

    @media (max-width: 1023px) {
        width: 100%;
    }
}

.applicationButton,
.programsLink {
    &:hover {
        background-color: #a49d8f;
    }
}
