*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-width: 379px;
  /*overflow-y: auto;*/
  font-family: Prata, serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 24px;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;

}

body::before {
  content: '';
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid #000;
  pointer-events: none;
  z-index: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
