.navToggle {
    position: fixed;
    top: 64px;
    left: -16px;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    transform: rotate(270deg) translate3d(0px, 0px, 0px);
    background: none;
    border-style: none;
    padding: 0 38px 0 0;

    & p {
        font-size: 11px;
        font-weight: 700;
    }

    &:hover {
        color: rgb(164, 157, 143);
    }
}

.buttonIcon {
    transform: rotate(90deg);
}
