.section {
    position: relative;
    padding: 50px 0 100px 0;
    background-color: rgb(104, 102, 98);
    background-image: url('/images/pattern.jpg');
    background-repeat: repeat;
    background-size: 220px 150px;
    color: #fff;

    @media (max-width: 1023px) {
        padding: 25px 0;
    }
}

.title {
    margin-bottom: 80px;
    font-size: 48px;
    line-height: 54px;
    text-align: left;

    @media (max-width: 1023px) {
        margin: 48px 0 32px 0;
        font-size: 24px;
        line-height: 28px;
        padding: 0;
    }
}

.container {
    width: calc(60px + 80vw);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;

    @media (max-width: 1180px) {
        width: 100%;
        padding: 0 32px;
        margin: 0;
    }
}

.counter {
    position: absolute;
    color: rgb(255, 212, 146);
    font-size: 160px;
    line-height: 160px;
    top: 16px;
    right: -36px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.reasonsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;

    @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
    }
}

.reason {
    display: flex;
    flex: 0 1 auto;
    padding: 0 30px;
    margin-bottom: 30px;

    & p {
        font-size: 15px;
        line-height: 22px;

        @media (max-width: 1023px) {
            font-size: 12px;
            line-height: 18px;

            & br {
                display: none;
            }
        }
    }

    @media (max-width: 1023px) {
        padding: 0;
    }
}

.image {
    margin-right: 24px;

    @media (max-width: 1023px) {
        width: 48px;
        height: 48px;
    }
}

