.mainMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10000;
    transform: translateX(100%);
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 715px;
    padding: 80px 0;

    @media (max-width: 1023px) {
        padding: 32px 0;
    }
}

.mainMenu.open {
    transform: translateX(0);
}

.container {
    width: calc(60px + 80vw);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    flex: 0 1 auto;

    @media (max-width: 1023px) {
        width: 100%;
        padding: 0 32px 0 58px;
        flex-direction: column;
    }
}

.socialBlock {
    width: 100%;
    display: flex;

    @media (max-width: 1023px) {
        margin-top: auto;
        flex-direction: column-reverse;
        gap: 15px;
        text-align: left;
    }
}

.block,
.contactsBlock,
.navBlock,
.socialWrapper,
.blockEmpty {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0 30px;
    text-align: left;

    &:last-child {
        text-align: right;
    }
}

.blockEmpty {
    @media (max-width: 1023px) {
        display: none;
    }
}

.navBlock {
    @media (max-width: 1023px) {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
    }
}

.contactsBlock {
    @media (max-width: 1023px) {
        display: none;
    }
}

.navList {
    list-style: none;
}

.navItem {
    margin-bottom: 32px;
    padding-right: 48px;

    & a {
        font-size: 13px;
        color: inherit;
        line-height: 20px;
        display: block;
        text-decoration: none;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.heading1 {
    font-size: 20px;
}

.heading2 {
    font-size: 13px;
    line-height: 22px;
}

.callback {
    cursor: pointer;
    padding: 0;
    border-style: none none solid;
    background: none;
    border-bottom: 1px solid rgb(232, 227, 218);
}

.wrapper {
    margin-top: 48px;
}

.policy {
    font-size: 13px;
    line-height: 22px;
    cursor: pointer;
    text-decoration: none;
    border-style: none;
    background: none;
    padding: 0;

    @media (max-width: 1023px) {
        text-align: left;
    }
}

.socialWrapper {
    display: flex;
    gap: 20px;
    justify-content: right;

    @media (max-width: 1023px) {
        padding: 0;
        justify-content:  left;
    }
}

.socialBlock .block {
    @media (max-width: 1023px) {
        padding: 0;
        flex-basis: 100%;
        max-width: 100%;
    }
}
